@font-face {
    font-family: "迷你简细圆";
    src: url("/fontmin/7ab72310-7e98-11e6-82ff-d1ebace952ab/迷你简细圆.eot"); /* IE9 */
    src: url("/fontmin/7ab72310-7e98-11e6-82ff-d1ebace952ab/迷你简细圆.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fontmin/7ab72310-7e98-11e6-82ff-d1ebace952ab/迷你简细圆.woff") format("woff"), /* chrome, firefox */
    url("/fontmin/7ab72310-7e98-11e6-82ff-d1ebace952ab/迷你简细圆.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("/fontmin/7ab72310-7e98-11e6-82ff-d1ebace952ab/迷你简细圆.svg#迷你简细圆") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


