@font-face {
    font-family: "迷你简细圆";
    src: url("../fonts/迷你简细圆/迷你简细圆.eot"); /* IE9 */
    src: url("../fonts/迷你简细圆/迷你简细圆.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/迷你简细圆/迷你简细圆.woff") format("woff"), /* chrome, firefox */
    url("../fonts/迷你简细圆/迷你简细圆.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../fonts/迷你简细圆/迷你简细圆.svg#mijxy") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: VisbyRoundCF-Light;
    src: url("../fonts/visbyround/VisbyRoundCF-Light.woff") format('woff'), url("../fonts/visbyround/VisbyRoundCF-Light.ttf") format('truetype'), url("../fonts/visbyround/VisbyRoundCF-Light.svg#VisbyRoundCF-Light") format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: visbyround;
    src: url("../fonts/visbyround/visbyround.eot");
    src: url("../fonts/visbyround/visbyround.woff2") format('woff2'), url("../fonts/visbyround/visbyround.eot?#iefix") format('embedded-opentype');
    font-weight: 400;
    font-style: normal
}

body {
    font-size: 16px;
    font-family: VisbyRoundCF-Light,Helvetica Neue,Arial,visbyround;
    line-height: 1.6;
}

.post-content a {
    color: #ee6e73;
    word-break: break-all;
    text-decoration: none;
}

.code pre {
    margin: 0;
    padding: 1.2em 1.4em;
    line-height: 1.5em;
}

pre {
    color: #525252;
}

code, pre {
    font-size: .8em;
    font-family: Roboto Mono,Monaco,courier,monospace;
}

.page-title {
    font-family: "迷你简细圆";
}

.page-description {
    font-family: "迷你简细圆";
    font-weight: bold;
    color: rgba(252, 201, 185, 0.8);
    text-shadow: 0px 0px 1px rgba(23, 20, 18, 0.25);
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.disqus-notice {
    display: block;
    padding: 9px 9px;
    margin: 20px 0 0 0;
    font-family: "迷你简细圆";
    font-size: 1.6rem;
    text-align: center;
    border: #e7eef2 1px solid;
    color: rgba(252, 201, 185, 1);
    text-shadow: 0px 0px 1px rgba(23, 20, 18, 0.25);
    border-radius: 4px;
}
