html {
    font-family: Helvetica, Tahoma, Arial, STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”, sans-serif;
}

@font-face {
    font-family: "TitleDescription";
    src: url("../fonts/custom/TitleDescription.eot"); /* IE9 */
    src: url("../fonts/custom/TitleDescription.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/custom/TitleDescription.woff") format("woff"), /* chrome, firefox */
    url("../fonts/custom/TitleDescription.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../fonts/custom/TitleDescription.svg#mijxy") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}

.page-title {
    font-family: "TitleDescription", "Open Sans", sans-serif;
}

.page-description {
    font-family: "TitleDescription", "Merriweather", serif;
    color: rgba(255, 0, 0, 0.8)
}
